<div class="ifrs9">  
	<div class="header"> 
		<div class="brand menu-close overflowHeader" id="ifrs9_responsive-menu">
			<div class="header-logo-santander"><img src="images/LogoSantander.png" alt="Logo Santander" /></div>
			<div class="header-text"><span class="header-separator">|</span></div>
			<div class="header-text">
				<span class="breadcrumb-main"></span> 
				<span class="breadcrumb-main breadcrumb-extra" id="ifrs9_pageHeader">IFRS9</span>
			</div>
		</div>
		<div class="fixedInfo">
			<div class="exitBlock">
				<span class="fa fa-sign-out fa-1x"></span>
			</div>
			<div class="settingsBlock">
				<span class="fa fa-gear"></span>
			</div>
			<div class="userBlock">
				<div class="imagen">
					<img src="images/usuario_logo.png" alt="User" />
				</div>
				<div class="datos">
					<ol>
						<li class="login-username">
							<p>Fidel</p>
						</li>
						<li class="login-rol">
							<p>Administrador</p>
						</li>
					</ol>
				</div>
			</div>
			<div class="btn-group-combo float-right idioma" role="group">
				<div class="dropdown container-language">
					<a class='dropdown-button btn' href='#' data-activates="ifrs9_dropdown1">
						<img class="bandera-select" src="images/banderas/es.png"></img>
						<span class="texto-bandera-select">Español</span>
					</a>
					<!-- Dropdown Structure -->
					<ul id="ifrs9_dropdown1" class='dropdown-content'>
						<li>
							<a class="bandera" role="menuitem" id="ifrs9_es" tabindex="0" href="#">
								<img src="images/banderas/es.png"></img>
								<span>Español</span> 
							</a>
						</li> 
						<li>
							<a class="bandera" role="menuitem" id="ifrs9_pt" tabindex="1" href="#">
								<img src="images/banderas/pt.png"></img>
								<span>Portugués</span> 
							</a>
						</li> 
						<li>
							<a class="bandera" role="menuitem" id="ifrs9_gb" tabindex="0" href="#">
								<img src="images/banderas/gb.png"></img>
								<span>Inglés</span> 
							</a>
						</li> 
					</ul>
				</div>
			</div>  
		</div> 
	</div>
</div>