{% load babel %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<script type="text/javascript" src="/static/ifrs9/resources/js/tabla.js"></script>
		<script type="text/javascript" src="/static/ifrs9/js/ifrs9.js"></script>

	</head>
	<body>
	<div class="ifrs9">
		<div id="ifrs9_modalConfirmacion" class="modal modalWidth">
			<div class="modal-content">
				<h4>{{_('Confirmar Importacion')}}</h4>
				<p class="modal-body">{{_('Si continua se moveran los ficheros de Entorno de Simulacion a Entorno Productivo No Real. ¿Esta seguro de que desea continuar?')}}</p>
			</div>
			<div class="modal-footer">
				<a href="#!" id="ifrs9_buttonCancelarConfirmacion" class="modal-action modal-close button-detalle-alta waves-effect waves-green btn-flat ">{{_('Cancelar')}}</a>
				<button type="button"  id="ifrs9_buttonAceptarConfirmacion" class="modal-action button-detalle-alta btn-flat " onclick="submit_import_rules(this)">{{_('Aceptar')}}</button>
			</div>
		</div>
	</div>
	</body>
</html>
