{% load babel %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<script type="text/javascript" src="/static/ifrs9/resources/js/tabla.js"></script>
	</head>
	<body>
		<div class="pagina ifrs9">
			<div class="align-left">
				<h4 id="ifrs9_pageTitle">
					<span style="display:none" id="env1">
							{{_('Analisis')}}
							-
							{{ _('Alta Exclusion Manual de Contrato')}}
					</span>
					<span style="display:none" id="env2">
							{{_('Pre-Produccion')}}
							-
							{{ _('Alta Exclusion Manual de Contrato')}}
					</span>
					<span style="display:none" id="env3">
							{{_('Contabilizacion Real')}}
							-
							{{ _('Alta Exclusion Manual de Contrato')}}
					</span>
				</h4>
			</div>
			<ul class="collapsible"  id="ifrs9_filtro" data-collapsible="accordion">
				<li>
					<div class="collapsible-header active" id="ifrs9_cabFiltro">
						<span class="cabFiltroLineOn">
							<i class="fa fa-filter headerIcon"></i>
						</span>
						<h4 class="headerContenedor cabFiltroLineOn">{{_('Filtro')}}</h4>
					</div>
					<div class="collapsible-body fixed_Filter_overflow">
						<div id="ifrs9_collapseFiltrosBuscarAjustes" class="panel-body collapse in">
							<form>
								<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding-left0 padding-top10">
									<div class="input-field">
										<div id="ifrs9_IDClienteContrato" class="col-lg-2 col-md-4 col-xs-4 col-sm-4">
											<div class="input-field" id="ifrs9_buscarAjustesTipoBusquedaContrato" >
												<input id="ifrs9_idContrato" type="text" class="validate"></input>
												<label for="ifrs9_idContrato">{{_('ID Contrato')}}</label>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="col-xs-12 col-sm-12">
						  <hr class="hr_filters" />
							<div class="row">
								<div class="col-xs-12 col_sm-10">
									<div class="alert alert-warning text-center control-class" id="panel-no-contract">
											<strong>{{_('Aviso:')}}</strong>
											<span>{{_('Id de contrato no encontrado')}}</span>
									</div>
								</div>
								<div class="col-xs-12 col_sm-2">
									<button class="col-lg-offset-11 button-detalle-alta boton-derecha button-disabled" id="ifrs9_btnBuscar" disabled="">{{_('Buscar')}}</button>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="loadingDiv ifrs9_hidden center-loading">
					<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
					<span class="sr-only">{{_('Cargando')}}...</span>
			</div>
			<div class="alert alert-warning text-center control-class" id="panel-no-contract">
					<strong>{{_('Aviso:')}}</strong>
					<span>{{_('Id de contrato no encontrado')}}</span>
			</div>
			<ul class="collapsible filaOculta" data-collapsible="accordion" id="ifrs9_datosAjusteUltEje">
				<li>
					<div class="collapsible-header active">
						<span class="cabFiltroLineOn">
						<i class="fa fa-th headerIcon"></i>
						</span>
						<h4 class="headerContenedor cabFiltroLineOn">{{_('Datos de la Exclusion')}}</h4>
					</div>
					<div class="collapsible-body fixed_Filter_overflow_2_lines">
						<div id="ifrs9_collapseDatosUltimaEjecucion" class="panel-body collapse in margin-top10">
							<form action="alta_exclusion_contrato" name="alta_exclusion_contrato" id="alta_exclusion_contrato" type="post">
								{% csrf_token %}
								{{form_data.environment}}
								{{form_data.tipo_exclusion}}
								{{form_data.flagclientecontrato}}
								<div class="col-lg-2 col-md-4 col-xs-4 col-sm-4 padding-left0 input-field">
									<div class="col-lg-10 col-md-10 col-xs-10 col-sm-10 padding-right0">
										<label class="left15">{{_('Fecha Inicio')}}</label>
										<!-- <input type="text" id="ifrs9_dateInicio" class="datepicker" value=" "></input> -->
										{{form_data.fecha_inicio}}
									</div>
									<div class="col-lg-2 col-md-2  col-xs-2  col-sm-2 padding-left0" id="ifrs9_dateInicioIcon">
										<i class="fa fa-calendar padding-top8"></i>
									</div>
								</div>
								<div class="col-lg-2 col-md-4 col-xs-4 col-sm-4">
									<div class="col-lg-10 col-md-10 col-xs-10 col-sm-10 padding-right0 padding-left0 input-field">
										<label>{{_('Fecha Fin')}}</label>
										<!-- <input type="text" id="ifrs9_dateFin" class="datepicker" value=" "></input> -->
										{{form_data.fecha_fin}}
									</div>
									<div class="col-lg-2 col-md-2  col-xs-2  col-sm-2 padding-left0" id="ifrs9_dateFinIcon">
										<i class="fa fa-calendar padding-top8" ></i>
									</div>
								</div>
								<div class="col-lg-12 col-md-12  col-xs-12  col-sm-12">
									<div class="input-field" id="ifrs9_comentariosBloque">
										{{form_data.comentarios}}
										<!-- <textarea id="ifrs9_comentarios" class="materialize-textarea" length="120"></textarea> -->
										<label for="ifrs9_comentarios">{{_('Comentarios')}}</label>
									</div>
								</div>
							</form>
							<!--Fin datos propuesta contenido-->
							<div class="col-xs-12 col-sm-12">
								<hr class="hr_filters" />
								<div class="row">
									<div class="col-xs-12 col-sm-10">
											<div class="alert alert-warning text-center control-class" id="panel-error">
													<strong>{{_('Aviso:')}}</strong>
													<span class="warning_text"></span>
											</div>
									</div>
									<div class="col-xs-12 col-sm-2">
											<span>
												<button class="button-detalle-alta" id="ifrs9_limpiarAltaContrato" onclick="limpiar_alta_exclusion_contrato()">{{_('Limpiar')}}</button>
											</span>
											<span>
												<button type="button" class="button-detalle-alta boton-derecha button-disabled add" id="ifrs9_anadir_exclusion" onclick="mostrarModalConfirmacion();" disabled>{{_('Añadir')}}</button>
											</span>
										</div>
									</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<input type="hidden" name="hiddenlan" id="hiddenlan" value="{{lan}}">
		<div id="myModalConfirmacionAltaExclusionContrato">
		</div>
		<div class="success_message">
				<div class="alert alert-success  text-center" id="panel-success">
						<strong>{{_('CORRECTO')}}</strong><br/>
						{{_('Exclusión a contrato añadida correctamente')}}
				</div>
		</div>
	</body>
</html>
