{% load babel %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="/static/ifrs9/resources/js/tabla.js"></script>
</head>

<body>
    <input type="hidden" value="{{NaN_msg}}" id="hiddenNan" >
    <div class="pagina ifrs9">
        <div class="align-left">
            <h4 id="ifrs9_pageTitle">
					<span style="display:none" id="env1">
							{{_('Analisis')}}
							-
							{{ _('Alta Ajuste Manual de Contrato')}}
					</span>
					<span style="display:none" id="env2">
							{{_('Pre-Produccion')}}
							-
							{{ _('Alta Ajuste Manual de Contrato')}}
					</span>
					<span style="display:none" id="env3">
							{{_('Contabilizacion Real')}}
							-
							{{ _('Alta Ajuste Manual de Contrato')}}
					</span>
				</h4>
        </div>
        <ul class="collapsible" id="ifrs9_filtro" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active" id="ifrs9_cabFiltro">
                    <span class="cabFiltroLineOn">
							<i class="fa fa-filter headerIcon"></i>
						</span>
                    <h4 class="headerContenedor cabFiltroLineOn">{{_('Filtro')}}</h4>
                </div>
                <div class="collapsible-body fixed_Filter_overflow">
                    <div id="ifrs9_collapseFiltrosBuscarAjustes" class="panel-body collapse in">
                        <form>
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding-left0 padding-top10">
                                <div class="input-field">
                                    <div id="ifrs9_IDClienteContrato" class="col-lg-2 col-md-4 col-xs-4 col-sm-4">
                                        <div class="input-field" id="ifrs9_buscarAjustesTipoBusquedaContrato">
                                            <input id="ifrs9_idContrato" type="text" class="validate"></input>
                                            <label for="ifrs9_idContrato">{{_('ID Contrato')}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <hr class="hr_filters" />
                        <div class="row">
                            <div class="col-xs-12 col_sm-10">
                                <div class="alert alert-warning text-center control-class" id="panel-no-contract">
                                    <strong>{{_('Aviso:')}}</strong>
                                    <span>{{_('Id de contrato no encontrado')}}</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col_sm-2">
                                <button class="col-lg-offset-11 button-detalle-alta boton-derecha button-disabled" id="ifrs9_btnBuscar" disabled="">{{_('Buscar')}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="loadingDiv ifrs9_hidden center-loading">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">{{_('Cargando')}}...</span>
        </div>

        <ul class="collapsible filaOculta" data-collapsible="accordion" id="ifrs9_datosAjuste">
            <li>
                <div class="collapsible-header active">
                    <span class="cabFiltroLineOn">
						<i class="fa fa-clock-o headerIcon"></i>
						</span>
                    <h4 class="headerContenedor cabFiltroLineOn">{{_('Datos de la Ultima Ejecucion')}}</h4>
                </div>
                <div class="collapsible-body">
                    <div id="ifrs9_collapseDatosUltimaEjecucion" class="panel-body collapse in">
                        <form class="margin-top0">
                            <div class="lineDetail">
                                <div class="col-sm-6 col-xs-12 tabla-select-6">
                                    <div class="col-xs-6 col-sm-6">
                                        <span><b>{{_('Fecha')}}:</b></span>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 padding-top4">
                                        <span class="last_execution_date"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12"></div>
                            </div>

                            <h4 class="headerContenedor headerDetail">{{_('Datos realizados por el motor')}}</h4>
                            <div class="fieldset-alta">
                                <div class="lineDetail">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="col-xs-4 col-sm-6">
                                            <span><b>{{_('Importe Provision')}}:</b></span>
                                        </div>
                                        <div class="col-xs-8 col-sm-6 padding-top4">
                                            <span class="cantidad"></span> <span style="text-transform: uppercase;" class="moneda_motor"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 filaOculta" id="ifrs9_porcImporteProvisionMotor">
                                        <!-- <div class="col-xs-4 col-sm-6">
                                            <span><b>% {{_('Provision')}}:</b></span>
                                        </div>
                                        <div class="col-xs-8 col-sm-6 padding-top4">
                                            <span class="porcentaje"></span>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="lineDetail">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="col-xs-4 col-sm-6">
                                            <span><b>{{_('Stage')}}:</b></span>
                                        </div>
                                        <div class="col-xs-8 col-sm-6 padding-top4">
                                            <span class="stage"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="col-xs-4 col-sm-6">
                                            <span><b>{{_('LGD')}}:</b></span>
                                        </div>
                                        <div class="col-xs-8 col-sm-6 padding-top4">
                                            <span class="lgd"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Datos Finales Que Se Aplicarán Sobre La Provisión -->
                            <h4 class="headerContenedor headerDetail">{{_('Datos Finales')}}</h4>
                            <div class="fieldset-alta">
                                <div class="lineDetail">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="col-xs-4 col-sm-6">
                                            <span><b>{{_('Importe Provision')}}:</b></span>
                                        </div>
                                        <div class="col-xs-8 col-sm-6 padding-top4">
                                            <span class="cantidad_final"></span> <span style="text-transform: uppercase;" class="moneda_final"></span> <span class="cantidad_directo"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 filaOculta" id="ifrs9_porcImporteProvisionFinal">
                                        <div class="col-xs-4 col-sm-6">
                                            <span><b>% {{_('Importe Provision')}}:</b></span>
                                        </div>
                                        <div class="col-xs-8 col-sm-6 padding-top4">
                                            <span class="porcentaje_final"></span> <span class="porcentaje_cantidad_directo"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="lineDetail">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="col-xs-4 col-sm-6">
                                            <span><b>{{_('Stage')}}:</b></span>
                                        </div>
                                        <div class="col-xs-8 col-sm-6 padding-top4">
                                            <span class="stage_final"></span> <span class="stage_directo"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="col-xs-4 col-sm-6">
                                            <span><b>{{_('LGD')}}:</b></span>
                                        </div>
                                        <div class="col-xs-8 col-sm-6">
                                            <span class="lgd_final"></span> <span class="lgd_directo"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="lineDetail"></div>
                                <div class="lineDetail" id="ifrs9_indicador_leyenda">
                                  <div class="col-sm-12 col-xs-12">
                                    <div class="col-xs-2 col-sm-2">
                                          <span>{{_('Indicador del Ajuste')}}:</span>
                                    </div>
                                    <div class="col-xs-2 col-sm-2">
                                          <span>({{_('NA')}}):</span>
                                          <span>{{_('No Ajustado')}}</span>
                                    </div>
                                    <div class="col-xs-2 col-sm-2">
                                          <span>({{_('D')}}):</span>
                                          <span>{{_('Directo')}}</span>
                                    </div>
                                    <div class="col-xs-2 col-sm-2">
                                          <span>({{_('I')}}):</span>
                                          <span>{{_('Indirecto')}}</span>
                                    </div>
                                    <div class="col-xs-2 col-sm-2">
                                          <span>({{_('E')}}):</span>
                                          <span>{{_('Exclusion')}}</span>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </form>
                        <!--Fin datos propuesta contenido-->
                    </div>
                </div>
            </li>
        </ul>
        <ul class="collapsible filaOculta" data-collapsible="accordion" id="ifrs9_datosAjusteUltEje">
            <li>
                <div class="collapsible-header active">
                    <span class="cabFiltroLineOn">
						<i class="fa fa-th headerIcon"></i>
						</span>
                    <h4 class="headerContenedor cabFiltroLineOn">{{_('Datos del Ajuste')}}</h4>
                </div>
                <div class="collapsible-body fixed_Filter_overflow_2_lines">
                    <div id="ifrs9_collapseDatosUltimaEjecucion" class="panel-body collapse in">
                        <form id="form_insertar_ajuste_contrato" action="insertar_ajuste_contrato/" type="post" name="form_insertar_ajuste_contrato">
                            {% csrf_token %} {{form_data.environment}} {{form_data.flagclientecontrato}} {{form_data.tipo_ajuste}}
                            <div>
                                <div class="input-field">
                                    <div class="col-lg-2 col-md-4  col-xs-4  col-sm-4">
                                        <div class="input-field" id="ifrs9_importeAltaContrato">
                                            <!-- <input id="ifrs9_importe" type="text" class="validate"></input> -->
                                            {{form_data.importe}}
                                            <label for="ifrs9_importe">{{_('Importe')}}</label>
                                            <div class="ifrs9_moneda" style="text-transform: uppercase;">{{moneda}}</div>
                                            {{form_data.moneda}}
                                        </div>
                                    </div>
                                    {{form_data.importe_hidden}}
                                    <div class="col-lg-2 col-md-4  col-xs-4  col-sm-4">
                                        <div class="input-field" id="ifrs9_porcImporteAltaContrato">
                                            <!-- <input id="ifrs9_porcImporte" type="text" class="validate"></input> -->
                                            {{form_data.porcentaje_importe}}
                                            <label for="ifrs9_porcImporte">% {{_('Importe')}} <span id="errmsg"></span></label>
                                        </div>
                                    </div>
                                    {{form_data.porcentaje_importe_hidden}}
                                    <div class="col-lg-2 col-md-4  col-xs-4 col-sm-4 switch">
                                        <!-- <select data-placeholder="Todo" id="ifrs9_buscarStage" tabindex="1">
												<option value="0">Stage 0</option>
												<option value="1">Stage 1</option>
												<option value="2">Stage 2</option>
											</select> -->
                                        {{form_data.stage}}
                                        <label>{{_('Stage')}}</label>
                                    </div>
                                    <div class="col-lg-2 col-md-4  col-xs-4  col-sm-4">
                                        <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10 padding-right0 padding-left0">
                                            <label>{{_('Fecha Inicio')}}</label>
                                            <!-- <input type="text" id="ifrs9_dateInicio" class="datepicker" value=" "></input> -->
                                            {{form_data.fecha_inicio}}
                                        </div>
                                        <div class="col-lg-2 col-md-2  col-xs-2  col-sm-2 padding-left0" id="ifrs9_dateInicioIcon">
                                            <i class="fa fa-calendar padding-top8"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-xs-4  col-sm-4">
                                        <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10 padding-right0 padding-left0">
                                            <label>{{_('Fecha Fin')}}</label>
                                            <!-- <input type="text" id="ifrs9_dateFin" class="datepicker" value=" "></input> -->
                                            {{form_data.fecha_fin}}
                                        </div>
                                        <div class="col-lg-2 col-md-2  col-xs-2  col-sm-2 padding-left0" id="ifrs9_dateFinIcon">
                                            <i class="fa fa-calendar padding-top8"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="col-lg-12 col-md-12  col-xs-12  col-sm-12">
                                    <div class="input-field" id="ifrs9_comentariosBloque">
                                        <!-- <textarea id="ifrs9_comentarios" class="materialize-textarea" length="120"></textarea> -->
                                        {{form_data.comentarios}}
                                        <label for="ifrs9_comentarios">{{_('Comentarios')}}</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--Fin datos propuesta contenido-->
                        <div class="col-xs-12 col-sm-12">
                            <hr class="hr_filters" />
                            <div class="row">
                                <div class="col-xs-12 col-sm-10">
                                    <div class="alert alert-warning text-center control-class" id="panel-error">
                                        <strong>{{_('Aviso:')}}</strong>
                                        <span class="warning_text"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-2">
                                    <span>
												<button class="button-detalle-alta" id="ifrs9_limpiarAltaContrato" onclick="limpiar_alta_ajuste_contrato()">{{_('Limpiar')}}</button>
											</span>
                                    <span>
												<button type="button" class="button-detalle-alta boton-derecha button-disabled add" id="ifrs9_anadir_ajuste" onclick="mostrarModalConfirmacion();" disabled>{{_('Añadir')}}</button>
											</span>
                                </div>
                            </div>
                        </div>
                    </div>
            </li>
        </ul>
        </div>
        <input type="hidden" name="hiddenlan" id="hiddenlan" value="{{lan}}">
        <div id="myModalConfirmacionAltaAjusteContrato">
        </div>
        <div class="success_message">
            <div class="alert alert-success  text-center" id="panel-success">
                <strong>{{_('CORRECTO')}}</strong><br/> {{_('Ajuste a contrato añadido correctamente')}}
            </div>
        </div>
</body>

</html>
